In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [2]:
housing_data = pd.read_csv("C:\\Users\\God\\Desktop\\Datasets\\Housing.csv")

In [3]:
housing_data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [4]:
filtered_data = housing_data.dropna(axis = 0)

In [5]:
y = filtered_data.price

In [6]:
filtered_data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [7]:
features = ['price', 'bedrooms', 'stories', 'parking']

In [8]:
X = filtered_data[features]

In [9]:
model = DecisionTreeRegressor()

In [10]:
model.fit(X, y)

DecisionTreeRegressor()

In [11]:
predictions = model.predict(X)
mean_absolute_error(y, predictions) #Actual value first then the predicted value. (true, predictions)

0.0

In [12]:
train_X, test_X, train_y, test_y = train_test_split(X, y, random_state = 10)

In [13]:
modelnew = DecisionTreeRegressor()

In [14]:
modelnew.fit(train_X, train_y)

DecisionTreeRegressor()

In [15]:
predictions = modelnew.predict(test_X)
mean_absolute_error(test_y, predictions)

18550.0

## Optimizing the model

In [23]:
def getmae(max_lf_nodes, train_X, test_X, train_y, test_y):
    model = DecisionTreeRegressor(max_leaf_nodes = max_lf_nodes, random_state = 10)
    model.fit(train_X, train_y)
    predicitions = model.predict(test_X)
    mae = mean_absolute_error(test_y, predicitions)
    return mae

In [36]:
mae_dict = {}
for max_l_nodes in range(2, 201, 10):
    mae = getmae(max_l_nodes, train_X, test_X, train_y, test_y)
    mae_dict[mae] = max_l_nodes
    print("When number of leaf nodes is", max_l_nodes, "absolute error is", mae)

When number of leaf nodes is 2 absolute error is 847541.4474721829
When number of leaf nodes is 12 absolute error is 192323.98388835223
When number of leaf nodes is 22 absolute error is 102244.97126156189
When number of leaf nodes is 32 absolute error is 61709.581553843294
When number of leaf nodes is 42 absolute error is 52333.2276992155
When number of leaf nodes is 52 absolute error is 44204.48027491488
When number of leaf nodes is 62 absolute error is 35408.11360708851
When number of leaf nodes is 72 absolute error is 30433.39009459127
When number of leaf nodes is 82 absolute error is 24320.7194771976
When number of leaf nodes is 92 absolute error is 20748.44266641712
When number of leaf nodes is 102 absolute error is 18864.612577203832
When number of leaf nodes is 112 absolute error is 17125.683136814525
When number of leaf nodes is 122 absolute error is 15804.427911909672
When number of leaf nodes is 132 absolute error is 14267.323289038623
When number of leaf nodes is 142 absolute error is 13556.25272942792
When number of leaf nodes is 152 absolute error is 12973.770977603097
When number of leaf nodes is 162 absolute error is 12561.605527481439
When number of leaf nodes is 172 absolute error is 12394.513070060519
When number of leaf nodes is 182 absolute error is 12327.493917274927
When number of leaf nodes is 192 absolute error is 12214.233576642337

In [39]:
minmae = min(mae_dict.keys())

In [41]:
print("Max number of leaf nodes with minimum absolute error is", mae_dict[minmae], "with MAE", minmae)

Max number of leaf nodes with minimum absolute error is 192 with MAE 12214.233576642337

In [42]:
final_model = DecisionTreeRegressor(max_leaf_nodes = 192, random_state = 10)
final_model.fit(train_X, train_y)

DecisionTreeRegressor(max_leaf_nodes=192, random_state=10)

In [44]:
predictions = final_model.predict(test_X)

In [45]:
mae = mean_absolute_error(test_y, predictions)
print(mae)

12214.233576642337